<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{css/login-register.css}">
</head>
<body>
<div id="container">
    <!-- Cover Box -->
    <div id="cover">
        <!-- Sign Up Section -->
        <h1 class="sign-up">Hello, Friend!</h1>
        <p class="sign-up">Enter your personal details<br> and start a journey with us</p>
        <a class="button sign-up" href="#cover">Sign Up</a>
        <!-- Sign In Section -->
        <h1 class="sign-in">Welcome Back!</h1>
        <p class="sign-in">To keep connected with us please<br> login with your personal info</p>
        <br>
        <a class="button sub sign-in" href="#">Sign In</a>
    </div>
    <!-- Login Box -->
    <div id="login">
        <h1>Sign In</h1>
        <a href="#"><i class="bi bi-google social-login"></i></a>
        <a href="#"><i class="bi bi-facebook social-login"></i></a>
        <a href="#"><i class="bi bi-twitter social-login"></i></a>
        <p>or use your email account:</p>
        <form method="get" th:action="@{/login/123}">
            <input type="email" placeholder="Email" autocomplete="off"><br>
            <input type="password" placeholder="Password" autocomplete="off"><br>
            <a id="forgot-pass" href="#">Forgot your password?</a><br>
            <input class="submit-btn wobble-top" type="submit" value="Sign In">
        </form>
    </div>
    <!-- Register Box -->
    <div id="register">
        <h1>Create Account</h1>
        <a href="#"><i class="bi bi-google social-login"></i></a>
        <a href="#"><i class="bi bi-facebook social-login"></i></a>
        <a href="#"><i class="bi bi-twitter social-login"></i></a>
        <p>or use your email for registration:</p>
        <form th:action="@{/create-user}" th:object="${user}" method="post">
            <input type="text" placeholder="Name" autocomplete="off" th:field="*{name}"><br>
            <span style="color: red" th:if="${#fields.hasErrors('name')}" th:error="*{name}">
                The name must not null!
            </span>
            <br>
            <input type="email" placeholder="Email" autocomplete="off" th:field="*{email}"><br>
            <span style="color: red" th:if="${#fields.hasErrors('email')}" th:error="*{email}">
                The email must not null!
            </span>
            <span style="color: red" th:if="${emailExisted} != null">
                The email existed!
            </span>
            <br>
            <input type="password" placeholder="Password" autocomplete="off" th:field="*{password}"><br>
            <span style="color: red" th:if="${#fields.hasErrors('password')}" th:error="*{password}">
                Password's length must be between 6-16 characters!
            </span>
            <br>
            <input class="submit-btn wobble-top" type="submit" value="Sign Up">
        </form>
    </div>
</div> <!-- END Container -->
<!-- partial -->
</body>
</html>